@charset "utf-8";
/* CSS Document */

*{	margin: 0; padding: 0;	}

@font-face { font-family: "EBMIconsRegular"; src: url("../fonts/EBMIconsRegular.eot") format('embedded-opentype'), url("../fonts/EBMIconsRegular.otf") format('opentype'), url("../fonts/EBMIconsRegular.woff") format('woff'), url("../fonts/EBMIconsRegular.ttf") format('truetype'), url("../fonts/EBMIconsRegular.svg") format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: "EBMIconsFullLogo"; src: url("../fonts/EBMIconsFullLogo.eot") format('embedded-opentype'), url("../fonts/EBMIconsFullLogo.otf") format('opentype'), url("../fonts/EBMIconsFullLogo.woff") format('woff'), url("../fonts/EBMIconsFullLogo.ttf") format('truetype'), url("../fonts/EBMIconsFullLogo.svg") format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'KohinoorBangla-Bold'; src: url('../fonts/KohinoorBangla-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/KohinoorBangla-Bold.otf') format('opentype'), url('../fonts/KohinoorBangla-Bold.woff') format('woff'), url('../fonts/KohinoorBangla-Bold.ttf') format('truetype'), url('../fonts/KohinoorBangla-Bold.svg#KohinoorBangla-Bold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'KohinoorBangla-Medium'; src: url('../fonts/KohinoorBangla-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/KohinoorBangla-Medium.otf') format('opentype'), url('../fonts/KohinoorBangla-Medium.woff') format('woff'), url('../fonts/KohinoorBangla-Medium.ttf') format('truetype'), url('../fonts/KohinoorBangla-Medium.svg#KohinoorBangla-Medium') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'KohinoorBangla-Regular'; src: url('../fonts/KohinoorBangla-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/KohinoorBangla-Regular.otf') format('opentype'), url('../fonts/KohinoorBangla-Regular.woff') format('woff'), url('../fonts/KohinoorBangla-Regular.ttf') format('truetype'), url('../fonts/KohinoorBangla-Regular.svg#KohinoorBangla-Regular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'KohinoorBangla-Semibold'; src: url('../fonts/KohinoorBangla-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/KohinoorBangla-Semibold.otf') format('opentype'), url('../fonts/KohinoorBangla-Semibold.woff') format('woff'), url('../fonts/KohinoorBangla-Semibold.ttf') format('truetype'), url('../fonts/KohinoorBangla-Semibold.svg#KohinoorBangla-Semibold') format('svg'); font-weight: normal; font-style: normal; }

body { font-family: KohinoorBangla-Regular !important;	font-size: 12pt !important;	color: #231f20 !important; background: #ccc !important;}

.container-fluid {
    width: 1600px !important;
    height: 860px !important;
    position: relative;
    padding: 0 !important;
    overflow-y: auto;
}
.layout-arrange {
    display: flex;
}

/*left nav-bar styles - starts*/
.left-navbar { background: #ffffff;}
.nav-list li span { font-family: EBMIconsRegular; font-size: 28px; color: #6cbe45;}
.nav-list li {  list-style: none;}
.nav-list li a {  color: #231f20;  text-decoration: none;}
.app-logo img {  width: 175px;  border-bottom: 1px solid #e4e4e4;}
.active-nav a label{
    color: #00bcc9 !important;
    font-weight: bold;
    padding: 2px 40px 3px 0px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #1e438c;
    border-image: linear-gradient(to right, #2a86c7, #b9d7ec);
    border-image-slice: 1;
}
.copyright-info span { font-family: EBMIconsRegular; font-size: 22px; }
.copyright-info {
    font-size: 8pt;
    font-weight: 500;
    /*position: absolute;*/
    /*bottom: 0px;*/
}
.left-navbar {
    /* position: fixed !important; */
    /* z-index: 1; */
    width: 328.12px !important;
    /* height: 100%; */
    /* left: 0; */
    /* top: 0; */
    /* overflow-x: hidden; */
    padding: 52.93px 54.29px !important;
}
/*left nav-bar styles - ends*/

/*middle content area styles - starts*/
.content-area {
    background: #f6f7f8;
    /* margin-left: 225px; */
    padding: 52.93px 54.29px !important;
    position: relative !important;
    width: 943.76px !important;
}
.content-section { background: #ffffff;}
.content-section span {  color: #00bcc9;  font-weight: 500;}
label.date-info {  color: #6cbe45;  font-weight: 500;}

.org-details label, .org-form label {
    font-size: 16.2pt;
    font-weight: 500;
    color: #00bcc9;
    font-family: KohinoorBangla-Bold;
}
.org-details p a {  font-weight: 500;  color: #6cbe45; text-decoration: none;}
.view-score span { font-family: EBMIconsRegular; font-size: 30px; color: #000;}
a.view-score, a.view-score:hover { color: #00bcc9;  font-weight: bold; text-decoration: none;}
.seller-icon img {  width: 75px;}
.seller-icon {  border: 1px solid #6cbe45;  text-align: center;  padding: 5px;}
label.seller-text, label.seller-number {  background: #00bcc9;  color: #fff;  font-weight: 500;  text-align: center;  margin: 1px 0;}
label.seller-number {  background: #6cbe45; }
.org-form label {
    color: #6cbe45;
    font-family: KohinoorBangla-Bold;
    font-size: 18px;
}
.astrik { color: #ed1c24 !important;}
.form-control, .custom-file-label { border-radius: 0 !important;  background: #f6f7f8 !important;}
select {
    border-radius: 0 !important;
}
.error-mesg { color: #ed1c24 !important; display: none;}
.custom-primary {
    background: #6cbe45 !important;
    border-radius: 0 !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}
.custom-secondary { background: #cccccc !important; border-radius: 0 !important; font-weight: 500 !important; }
.preview-eye {
    font-family: EBMIconsRegular;
    font-size: 25px !important;
    padding: 0 8px !important;
    background: #f6f7f8 !important;
}
.preview-optn button { border: 1px solid #ced4da !important;}
.preview-optn input { width: 71% !important; }
.iti-flag {  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/img/flags.png");}
.intl-tel-input.allow-dropdown {  width: 100%;}
/*middle content area styles - ends*/

/*column 3 area styles - starts*/
.right-panel {
    /* position: fixed !important; */
    /* right: 0; */
    /* top: 0; */
    background: #fff;
    width: 328.12px !important;
    padding: 52.93px 54.29px !important;
}
.log-out, .log-out:hover, .log-out:focus, .log-out:active { font-family: EBMIconsRegular; font-size: 30px; color: #000; text-decoration: none;}
label.logout-label {  padding: 14px 0;  font-weight: 500;}
.user-profile img { width: 81.2pt}
.user-profile a, .user-name-details {  text-align: center;}
.user-name-details label, .user-name-details p { font-weight: 500; margin: 0;}
.user-name-details span {font-family: EBMIconsRegular; font-size: 30px;}
.user-name-details label, .user-name-details span { color: #1e438c;}
.snap-count {  border-top: 1px solid #ccc;  border-bottom: 1px solid #cccc;}
label.count-lbl {  color: #ce1f26;}
.count-lbl span {  color: #1e438c;}
.count-lbl img {  width: 8pt;}
.chart-layouts img {  width: 100%;  box-shadow: 1px 1px 1px 1px #e2e2e2;}
.count-btn {
    background: #00bcc9 !important;
    font-family: KohinoorBangla-Medium;
    border: 1px solid #00bcc9 !important;
    font-size: 14px !important;
}
/*column 3 area styles - ends*/

/*Add category center section styles - starts*/
.add-cat-section select {
    width: 67%;
    font-size: 14px !important;
}
.org-form.form-check label input[type="radio"] { top: 5px;}
.sub-title {color: #6cbe45;  font-family: KohinoorBangla-Medium;}
.custom-select {
    border-radius: 0 !important;
    background-color: #f6f7f8 !important;
}

.switch { position: relative;    display: inline-block;    width: 36px;    height: 20px;}  
.switch input {     opacity: 0;    width: 0;    height: 0;  } 
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.slider:before { position: absolute; content: ""; height: 16px; width: 16px; left: 2px; bottom: 2px; background-color: white; -webkit-transition: .4s; transition: .4s; }
  input:checked + .slider {   background-color: #2196F3;  }
  input:focus + .slider {    box-shadow: 0 0 1px #2196F3;  }
  input:checked + .slider:before {    -webkit-transform: translateX(16px);    -ms-transform: translateX(16px);    transform: translateX(16px);  }
  /* Rounded sliders */
  .slider.round {    border-radius: 34px;  }  
  .slider.round:before {    border-radius: 50%;  }
/*Add category center section styles - ends*/

/*Add category table styles - starts*/
.action-icons { font-family: EBMIconsRegular; font-size: 22px !important; color: #000 !important; margin: 0 !important; padding: 0px 5px !important;}
table.table.table-striped.table-properties th { background: #e5e5e6;}
.table-properties tbody tr:nth-of-type(odd) { background: #e7f8f9 !important;}
.table-properties tbody tr:nth-of-type(even) { background: #f0f8ec;}
.table-properties tbody tr:nth-of-type(odd) td:first-child { border-left: 10px solid #a4e4e8; }
.table-properties tbody tr:nth-of-type(even) td:first-child { border-left: 10px solid #c6e4b8; }
.table-properties th:first-child { border-left: 10px solid #e5e5e6; }
table.table-properties { border-collapse: inherit !important;     border-bottom: 3px solid #00bcc9;}
table.table-properties th, table.table-properties td {
    border-top: none !important;
    border-right: 2px solid #fff !important;
    border-bottom: none !important;
}
span.status-indicator-active { width: 10px; height: 10px; background: #00a651; float: left; border-radius: 50%; margin: 8px;}
table.table-properties td { padding: 5px 10px;}
span.status-indicator-active.inactive { background: #ee2025 !important;}
.switch.td-switch { width: 30px; height: 15px; position: absolute; left: 82px; top: 12px;}
.switch.td-switch .slider:before { height: 11px; width: 11px;}
.switch.td-switch input:checked + .slider { background: #000000;}
td.action-column { position: relative;}
.action-column .action-icons { position: absolute; left: 5px; top: -3px;}
.action-icons.icon3 { left: 55px; top: 0;}
.action-icons.icon2 { top: 0; left: 30px;}
table.table.table-striped.table-properties th:last-child { padding: 0 40px 10px 10px !important;}
table.table-properties tbody tr td:nth-child(2), table.table-properties thead tr th:nth-child(2), table.table-properties tbody tr td:nth-child(4), table.table-properties thead tr th:nth-child(4) { text-align: center;}
.sub-cat-tabl { width: 92%;}
/*Add category table styles - ends*/

/*paGINATION styles - starts*/
.pagination-set label { width: 23%; height: 38px;}
.pagination-set select { width: 75px !important; display: inline !important;}
.customized-pag .pagination .page-item:first-child .page-link { border-top-left-radius: 0rem !important;    border-bottom-left-radius: 0rem !important;}
.customized-pag .pagination .page-item:last-child .page-link { border-top-right-radius: 0rem !important; border-bottom-right-radius: 0rem !important;}
.active-pag { background: #050505 !important; color: #ffffff !important; border-radius: 3px;}
.pagination-set button.btn.btn-success.custom-primary.mr-auto { height: 38px;}
/*paGINATION styles - ends*/

/*popup styles - starts*/
.custom-popup .modal-header, .custom-popup .modal-footer {   border: none !important;}
.custom-popup .app-logo img {    border: none !important;}
.custom-popup .modal-content {    border: 2px solid #28a745;}
@media (min-width: 576px) {
    .custom-popup .modal-dialog {    max-width: 800px !important; }
    .custom-popup .modal-dialog.pln-tbl-model {
        max-width: 1000px !important;
    }
    .insert-vdo-popup .modal-dialog {
        max-width: 1100px !important;
    }
}

/*popup styles - ends*/

/*popup drag and drop styles - starts*/
.img-upload-poup {
    height: 600px !important;
}
.inputDnD .form-control-file {
    position: relative;
    width: 100%;
    height: 300px;;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 5px solid currentColor;
  }
  .inputDnD .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    line-height: 2em;
    padding-top: 1.5em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    border: 2px dashed currentColor;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }
  .inputDnD .form-control-file:hover:before {
    border-style: solid;
    box-shadow: inset 0px 0px 0px 0.25em currentColor;
  }
  .form-group.inputDnD {
    width: 100%;
    position: relative;
}
.img-upload-container img {
    position: absolute;
    width: 150px;
    left: 38%;
    top: 32%;
}
.img-upload-container p {
    position: absolute;
    left: 28%;
    top: 70%;
    text-align: center;
}
.img-custom-upload {
    width: 40% !important;
}
.locate-place.d-flex {
    width: 60% !important;
}
/*popup drag and drop styles - ends*/

/*products page styles - starts*/
.date-info span { font-family: EBMIconsRegular; font-size: 28px; color: #00bcc9; }
.price-field .input-group-append span {
    padding: 0 8px;
    border-radius: 0;
    margin-right: 2px;
}
.price-field label {
    padding: 2px 0px 2px 4px;
    background: #ffffff !important;
    height: 38px;
    font-size: 12px;
}
.add_new_brand {
    color: #28a745;
    text-decoration: underline;
}
@media (min-width: 576px){
    .add-brand-popup .modal-dialog {
        max-width: 580px !important;
    }
}
span.icon-active1, span.icon-active2, span.icon-active3, span.icon-active4 {
    background-image: url(../images/wiz_img_active1.png);
    width: 25px;
    height: 25px;
    content: "";
    float: left;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: 20px;
}
span.icon-active1 {
    background-position: 0 -25px !important;
}
span.icon-active2 {
    background-position: 0 -24px;
    background-image: url(../images/wiz_img_active2.png);
}
span.icon-active3 {
    background-position: 0 -25px;
    background-image: url(../images/wiz_img_active3.png);
}
span.icon-active4 {
    background-position: 0 -24px;
    background-image: url(../images/wiz_img_active4.png);
}
.stepper {
    position: relative;
}
span.icon-active1::after, span.icon-active2::after, span.icon-active3::after {
    width: 23px;
    height: 2px;
    content: "";
    background: #e0dfdf;
    float: right;
    position: absolute;
    top: 13px;
    left: 76px;
}
span.icon-active2::after {
    left: 76px;
}
span.icon-active2::after {
    left: 120px;
}
span.icon-active3::after {
    left: 165px;
}
.tab-section .nav-item a {
    font-family: KohinoorBangla-Semibold;
    color: #000000;
    border-radius: 0;
}
.tab-section .nav-item .nav-link {
    background: #cccccc;
    border-left: 2px solid #fff;
}
.tab-section .nav-item .nav-link.active {
    background: #ffffff;
}
span.icon-active1.wiz-active {
    background-position: 0 0px !important;
}
span.icon-active2.wiz-active {
    background-position: 0 2px !important;
}
span.icon-active3.wiz-active {
    background-position: 0 0px !important;
}
span.icon-active4.wiz-active {
    background-position: 0 0px !important;
}
.benefit-content {
    border: 1px solid #ced4da;
    background: #f6f7f8 !important;
}
.tab-container {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0 15px;
}
.plus-icon {
    color: #2a448f;
}
.icon-set i {
    font-size: 20px;
}
.cont-info {
    border-bottom: 1px solid #ccc;
}
.support-hrs {
    list-style: none;
}
.support-hrs li label {
    border: 1px solid #ccc;
    width: 75%;
}
.support-hrs li span input {
    right: 10%;
    top: 10px;
}
.support-hrs li {
    position: relative;
}
.header-component {
    background: #00bcc9;
    color: #fff;
}
.header-component label {
    border: none !important;
}
.time-set-up {
    background-color: white;
    display: inline-flex;
    border: 1px solid #ccc;
    color: #555;
    width: 100%;
  }
  
  .time-set-up input {
    border: none;
    color: #555;
    text-align: center;
}
.time-set-up span {
    padding: 7px 0;
}
.support-hrs.wrk-hrs .header-component {
    width: 75%;
}
.edited-field label {
    background: #ff0000;
    color: #ffffff;
}
.edited-field .time-set-up {
    background: #ff0000;
}
.edited-field .time-set-up input {
    background: #ff0000 !important;
}
.edited-field a {
    font-size: 22px;
}
.edited-field .time-set-up input::placeholder {
    color: #ffffff !important;
}
.edited-field .time-set-up span {
    color: #fff;
}
.alert-sec {
    color: #ff0000;
    position: relative !important;
}
.alert-sec i.fas.fa-exclamation-triangle {
    font-size: 35px;
}
.alert-sec label::after {
    background-image: url(../images/alert_border.png);
    width: 270px;
    height: 10px;
    content: "";
    display: flex;
    background-repeat: no-repeat;
}
.alert-close {
    position: absolute;
    right: 0;
    top: -22px;
    color: #ff0000;
}
.choose-type {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.choose-type .org-form.form-check label {
    font-size: 15px;
}
.choose-type .org-form.form-check label input[type="radio"] {
    top: 2px;
    left: 28px;
}
.icon-cont, .plan-cont {
    position: relative;
}
.icon-font {
    font-family: EBMIconsRegular;
    position: absolute;
    right: 0;
    font-size: 30px;
    color: #000;
    top: -16px;
}
.append-icon-set {
    border: 1px solid #ced4da;
    background: #f6f7f8 !important;
}
.tabl-scroll-cont {
    height: 150px;
}
.tabl-scroll-cont label {
    font-size: 14px;
    width: 100%;
}
.price-sym span {
    border-radius: 0;
}
.action-iconss {
    padding: 6px 0 6px 0 !important;
}
.help-hint {
    font-size: 14px;
    color: #000 !important;
}
table.table.table-bordered.f-org-tabl {
    border-collapse: separate;
    border: 0;
}
.tabl-dd {
    border: none;
    width: 100%;
}
.bg-grey {
    background: #f6f7f8;
}
ul.f-org-pagination {
    list-style: none;
}
.f-org-pagination li {
    display: inline;
    padding: 0 5px 0 5px;
    border-right: 1px solid #000;
}
.f-org-pagination li:last-child {
    border-right: none;
}
span.pg-indicator {
    width: 15px;
    height: 15px;
    background:#28a745;
    display: flex;
    border-radius: 50%;
}
.tab-app-icon i {
    font-size: 22px;
}
.tab-app-icon-mr {
    margin-top: 8px;
}
.bg-none {
    background: none !important;
}
.container-border {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.chk-sec {
    border-bottom: 1px solid #ccc;
}
.border-rmv thead th:last-child, .border-rmv tbody td:last-child {
    border: none;
}
.f-org-tabl tr td:last-child {
    padding: 0 4px;
    background: none;
}
.bg-d-grey {
    background: #c0c1c1;
}
.listed-seach {
    width: 155px;
}
.list-search-icon {
    right: 15px !important;
}
.product-list-table tbody tr:nth-of-type(odd) td:first-child, .product-list-table tbody tr:nth-of-type(even) td:first-child {
    border: none;
}
span.odd-icon i, span.even-icon i {
    color: #000;
    border: 2px solid #00bcc9;
    background: #ffffff;
    font-size: 24px;
    padding: 15px 15px 15px 15px;
}
span.even-icon i {
    border: 2px solid #6cbe45;
}
.product-list-table td {
    vertical-align: middle !important;
}
table.product-list-table tbody tr td:nth-child(3), table.product-list-table thead th:nth-child(3), table.product-list-table thead th:nth-child(5) {
    text-align: center;
}
.product-list-table .action-icons {
    top: 14px;
}
.product-list-table .switch.td-switch {
    top: 25px;
    left: 110px;
}
.product-list-table .action-icons.icon2 {
    left: 42px;
}
.product-list-table .action-icons.icon3 {
    left: 75px;
}
.benefit-acc-titles span {
    color: #000;
}
.feature-benefit-accordion .card {
    border-radius: 0 !important;
}
.feature-benefit-accordion .btn.btn-link.collapsed {
    color: #000 !important;
}
.feature-benefit-accordion button.btn.btn-link {
    color: #ff0000;
    text-decoration: none;
}
.acc-heading {
    font-family: KohinoorBangla-Bold;    
}
.accordion-actions .act-icons {
    font-family: EBMIconsRegular;  
}
.feature-benefit-accordion .card-header {
    position: relative;
}
.accordion-actions .act-icons {
    position: absolute;
    font-size: 23px;
    right: 0;
    top: -6px;
}
.accordion-actions .act-icons:first-child {
    right: 20px;
}
.accordion-actions .act-icons {
    color: #000 !important;
}
.feature-benefit-accordion h5 i {
    font-size: 15px;
    margin: 0 0 0 8px;
}
.feature-benefit-accordion button.btn.btn-link i {
    transform: rotate(90deg);
}
.feature-benefit-accordion button.btn.btn-link.collapsed i {
    transform: rotate(0deg);
}
.border-btm {
    border-bottom: 2px solid #bdf8cb;
}
.plan-tabl table thead th {
    border: none;
}
.plan-tabl table tbody td {
    border-top: 2px solid #5edf7c;
    background: #f0f8ec;
    border-right: 1px solid #ffffff;
}
.action-column.pln-tbl-actn .action-icons.icon2 {
    left: 12px;
}
.action-column.pln-tbl-actn .action-icons.icon3 {
    left: 45px;
}
.plan-tabl td ul li::before {
    width: 7px;
    height: 2px;
    background: #000000;
    content: "";
    float: left;
    margin: 12px 6px 0 0;
}
.pln-tbl-model button.close span {
    position: absolute;
    right: 7px;
    top: 0;
    color: #ff0000;
}
.select-vdo {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 6px 0 0 0;
    color: #2a86c7;
    background: #fff;
}
.v-add-icon i, .v-del-icon i  {
    font-size: 12px;
}
.activity-icons button {
    height: 19px;
    border: 1px solid #ccc;
    background: none;
    position: relative;
}
.v-add-icon i {
    color: #28a745;
    position: absolute;
    left: 3px;
    top: 3px;
}
.v-del-icon i {
    color: #ff0000;
    position: absolute;
    left: 3px;
    top: 3px;
}
.activity-icons {
    width: 25px;
}
/*products page styles - ends*/

/*kkn styles starts here*/
html, body {
    height: 100%;
  }
  .border-none{
      border:none !important;
  }
  .ebm-icon-logo{
      font-family: EBMIconsRegular;
      font-size: 103px;
      position: absolute;
      top: -50px;
      right: 10px;
      color: #ffffff;
  }
  .login-container{
      padding-right: 300px;
      /*position: absolute;*/
      /*bottom: 0px;*/
      margin-top: 10%;
  }
  .login-container h1{
      font-size: 20px;
      font-weight: 400;
  }
  .login-welcome-back p{
      font-size: 16px;
  }
  .ebm-input-container{
      position: relative;
      margin-top: 10px;
  }
  .ebm-input-container i{
      position: absolute;
      left: 15px;
      top: 15px;
  }
  .ebm-input-container input{
      border: 1px solid #cccccb;
      outline: none;
      padding: 10px 10px 10px 50px;
      width: 100%;
  }
  .login-action{
  
  }
  .login-action a{
      font-size: 14px;
      font-weight: 600;
      color: #6d6e71;
  }
  .login-action button{
      float: right;
      background: #6cbe45;
      color: #fff;
      border: 0;
      font-weight: 500;
      padding: 5px 10px;
  }
  .login-copyright{
      margin-top: 100px;
  }
  .login-copyright p{
      font-size: 12px;
      font-weight: 600;
      color: #6d6e71;
  }
  .login-info{
      background: #33333340;
      color: #fff;
      position: absolute;
      bottom: 0;
      padding: 15px 30px;
  }
  .login-info h2{
      font-size: 16px;
  }
  .login-info p{
      font-size: 14px;
  }
  .login-info p a{
      color: yellow;
      font-weight: bold;
  }
  .password-dialog-bg{
      background: url('../images/Background@1x.png');
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .ebm-password-dialog{
      background: #fff;
      width: 50%;
      margin: auto;
      padding: 10px 30px;
  }
  .ebm-password-dialog h2{
      font-size: 22px;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 1px solid #cccccb;
  }
  .change-password-input{
  
  }
  .change-password-input label{
      display: block;
      color: #54596e;
      font-weight: 700;
      font-size: 14px;
      margin: 0;
  }
  .change-password-input input{
      border: 1px solid #cbcdcf;
      width: 100%;
      border-radius: 5px;
      padding: 7px 10px;
      font-size: 14px;
  }
  .ebm-btn-secondory{
      color: #6e7174;
      background: #f0f0f0;
      border-color: #ffc107;
  }
  .ebm-password-dialog p{
      color: #6e7174;
      font-size: 14px;
  }
  .category-container{
      background: #fff;
      margin-top: 5px;
      padding: 15px;
  }
  .category-container h4{
      color: #00bcc9;
      font-weight: 500;
      font-size: 12pt !important;
  }
  .category-container h5{
      color: #6cbe45;
      font-family:  KohinoorBangla-Bold;
      font-size: 17px;
  }
  .category-info{
      color: #212529;
      font-size: 12px;
      font-weight: 500;
  }
  .category-info a{
      color: #6cbe45;
  }
  .category-info-grid{
      font-size: 12px;
  }
  .category-info-grid span{
      margin-right: 5px;
  }
  .category-info-grid span label{
      background: #6cbe45;
      color: #fff;
      padding: 5px 10px;
      margin: 0;
  }
  .category-info-grid span b{
      background: #00bcc9;
      color: #212529;
      padding: 5px 10px;
      display: inline-block;
      margin-left: 2px;
  }
  .category-search-container{
  
  }
  .category-search-container input{
      background: #f6f7f8;
      border: 2px solid #ced4da;
      padding: 5px 10px;
      font-size: 12px;
      width: 65%;
  }
  .category-search-container button{
      background: #6cbe45;
      color: #fff;
      padding: 7px 10px;
      font-size: 12px;
      border: 0;
      font-weight: 500;
      cursor: pointer;
      width: 33%;
  }
  .ebn-table{
      width: 100%;
      border-spacing: 5px !important;
      border-collapse: separate;
  }
  .ebn-table td {
        border: 2px solid #ced4da;
      padding: 3px 10px;
      background: #f6f7f8;
      position: relative;
      font-size: 14px;
  }
  .ebn-table th{
      text-align: inherit;
      background: lightgray;
      padding: 7px 10px;
      font-size: 14px;
      font-weight: 600;
  }
  .ebn-table select{
      background: transparent;
      border: 0;
      float: right;
      width: 75%;
      padding-left: 10px;
      outline: none;
  }
  .vr-border{
      border-right: 2px solid lightgray;
      position: absolute;
      top: 0;
      bottom: 0;
  }
  .ebn-table td b{
      width: 25%;
      float: left;
      padding-right: 10px;
      font-weight: 600;
  }
  .bg-fff{
      background-color: #fff !important;
      text-align: center;
  }
  .custom-control-input:checked~.custom-control-label::before {
      border-color: transparent !important;
      background-color: #000 !important;
  }
  .ebn-table th i{
      color: #505050;
      float: right;
      margin-top: 4px;
      cursor: pointer;
  }
  .action-th{
      background: transparent !important;
      min-width: 65px;
  }
  .action-td{
      background: transparent !important;
      border-color: transparent !important;
      text-align: center;
      min-width: 65px;
  }
  .action-td i{
      font-size: 24px !important;
      cursor: pointer;
  }
  .ebm-table-footer{
      border-top: 2px solid #00bcc9;
      margin-top: 40px;
      padding: 9px 0;
  }
  .ebm-table-footer button{
      background: #6cbe45;
      color: #fff;
      padding: 3px 20px;
      border: 0;
      font-size: 12px;
      font-weight: 600;
  }
  .ebm-paggination{
      border: 2px solid #ced4da;
      font-size: 14px;
      font-weight: 600;
  }
  .ebm-paggination label{
      padding: 3px 10px;
      background: #f6f7f8;
      margin: 0;
      border-right: 2px solid #ced4da;
  }
  .ebm-paggination input{
      width: 40px;
      border: 0;
      height: 27px;
      border-right: 2px solid #ced4da;
  }
  .ebm-paggination i{
      font-size: 10px;
      padding: 3px 5px;
      cursor: pointer;
  }
  .ebm-paggination ul{
      display: inline-block;
      margin: 0;
  }
  .ebm-paggination ul li{
      display: inline-block;
      margin: 0 2px;
      padding: 2px 5px;
      background: #f6f7f8;
      color: #000;
      border-radius: 3px;
  }
  .ebm-paggination ul li.active{
      background: #000;
      color: #fff;
  }
  @media (min-width: 500px) and (max-width: 1024px) {
    .login-right-img{
        display: none !important;
    }
    .login-container{
        padding: 0;
    }
  }
  @media (min-width: 320px) and (max-width: 499px) {
  
  }
  .ebm-table-footer > div {
      width: 100%;
  }
  
  /*side nave style*/
  .sidenave-button{
      position: absolute;
      right: -16px;
      top: 60px;
      background: url(../images/menu_arrow.png)no-repeat;
      height: 50px;
      width: 10px;
      background-size: contain;
      cursor: pointer;
  }
  .ml-75px{
      margin-left: 75px !important;
  }
  .left-navbar, .content-area, .sidenave-button, .nav-list li span{
      transition: 0.3s ease;
  }
  .f-50px{
      font-size: 50px !important;
  }
  .nav-left-xs{
      left: 8.4%  !important;
  }
  
  /*portfolio style starts here*/
  .search-dropdown{
      border: 1px solid #ced4da;
      background: #f6f7f8 !important;
      height: 38px;
  }
  .search-filter{
      border: 1px solid #ced4da;
      height: 38px;
  }
  .search-filter button{
      background: #f6f7f8 !important;
      border: 0;
      padding: 0 5px;
  }
  .search-btn{
      position: absolute;
      right: 55px;
      top: 10px;
      cursor: pointer;
      z-index: 10
  }
  ul, li{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .portfolio-container{
      margin-top: 10px;
  }
  .portfolio-container img{
  
  }
  .portfolio-content{
      background: #dedfe0;
  }
  .portfolio-content h3{
      font-size: 14px;
      color: #232024;
      font-weight: 600;
      border-bottom: 1px solid #8f9093;
      padding-bottom: 5px;
      margin-bottom: 5px;
  }
  .portfolio-content p{
      font-size: 12px;
      color: #232024;
  }
  .portfolio-price{
      color: #232024;
  }
  .portfolio-price b{
      font-size: 30px;
  }
  .portfolio-price label{
      font-size: 24px;
      font-weight: bold;
      margin: 0;
      vertical-align: super;
  }
  .portfolio-rating{
  
  }
  .portfolio-rating span{
      background: #f2bb13;
      font-size: 10px;
      padding: 2px 4px;
      color: #252525;
  }
  .portfolio-rating ul{
      background: #252525;
      font-size: 10px;
      padding: 2px 2px 2px 15px;
      display: inline-block;
      margin-left: -4px;
  }
  .portfolio-rating ul li{
      display: inline-block;
  }
  .portfolio-rating ul li i{
      color: #f2bb13;
  }
  
  .portfolio-arrow-first {
      position: relative;
      background: #f2bd14;
  }
  .portfolio-arrow-first:after, .portfolio-arrow-first:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }
  
  .portfolio-arrow-first:after {
      border-color: rgba(242, 189, 20, 0);
      border-left-color: #f2bd14;
      border-width: 10px;
      margin-top: -7px;
      margin-left: -4px;
  }
  .portfolio-arrow-last {
      position: relative;
      background: #252525;
  }
  .portfolio-arrow-last:after, .portfolio-arrow-last:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }
  
  .portfolio-arrow-last:after {
      border-color: rgba(242, 189, 20, 0);
      border-left-color: #252525;
      border-width: 10px;
      margin-top: -7px;
  }
  .portfolio-add-btn-bottom {
       width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 50px solid #5cbcc8;
      position: absolute;
      bottom: 0px;
      right: 15px;
      background: transparent;
      border-top-color: transparent;
      cursor: pointer;
  }
  .portfolio-add-btn-bottom:after{
      content: "+";
      color: #fff;
      font-size: 28px;
      position: relative;
      left: -22px;
      top: 12px;
      font-weight: bold;
  }
  .portfolio-add-btn-top {
      width: 0;
      height: 0;
      border-right: 40px solid transparent;
      border-left: 0px solid transparent;
      border-top: 40px solid #ba160a;
      position: absolute;
      top: 0;
      left: 15px;
      background: transparent;
      border-bottom-color: transparent;
      cursor: pointer;
  }
  .portfolio-add-btn-top:after{
      content: "\f005";
      color: #fff;
      font-size: 12px;
      position: relative;
      left: -14px;
      bottom: 38px;
      font-weight: bold;
  }
  .portfolio-action-btn-bottom{
      position: absolute;
      right: 15px;
      bottom: 0;
      padding: 5px !important;
      color: #fff !important;
      background: #00bcc9 !important;
  }
  .portfolio-action-btn-bottom i{
      font-size: 18px;
      cursor: pointer;
  }
  .portfolio-action-btn-bottom hr{
      border-color: #fff;
  }
  .xs-logo{
      display: none;
      width: 50px !important;
  }
  .product-count-container{
      position: relative;
  }
  .product-count-container img{
      width: 233px;
  }
  .product-count-container label{
      position: absolute;
      color: #231f20;
      font-size: 28px;
      bottom: -3px !important;
  }
  .product-count-container label:nth-child(2){
      right: 188px;
  }
  .product-count-container label:nth-child(3){
      right: 104px;
      font-weight: bold;
      font-size: 32px;
      bottom: -5% !important;
  }
  .product-count-container label:nth-child(4){
      right: 22px;
  }
  /*portfolio style ends here*/
  
  /*kkn styles ends here*/
